<article class="post-content">
<div class="ui post-author-container">
  <img class="ui circular image inline" src="https://semantic-ui.com/images/avatar/small/helen.jpg"/>
  <div class="post-author-meta">
	<a href="#">Son Nguyen</a>
	<span class="post-date"> posted 2 days ago</span>
	<div class="ui">
	  <button class="ui basic green tiny compact button follow-btn">
		<i class="rss icon"></i> Follow
	  </button>
	</div>
  </div>
</div>
<h1 class="ui header">{{ post.title }}</h1>
<div class="post-body">{{ post.body }}</div>
</article>
