<form [formGroup]="postForm" novalidate class="ui form" (ngSubmit)="onSubmit()">
  <div class="field">
	<div class="ui fluid huge icon input">
  <input id="post-title" formControlName = "title" placeholder="Title"/>
	</div>
  </div>
  <div class="field">
	<div class="ui fluid icon input">
  <input id="post-tag" formControlName = "tag" placeholder="Write tags separated by comma"/>
	</div>
  </div>
  <div class="field">
	<textarea id="simplemde" formControlName="body" rows="48" cols="40" placeholder="Write something..."></textarea>
  </div>
  <button type="submit" class="ui button primary right floated">Post it</button>
</form>

<p>Form Value: {{ postForm.value | json }}</p>
<p>Form status: {{ postForm.status | json }}</p>
