  <div class="label">
	<img src="https://semantic-ui.com/images/avatar/small/elliot.jpg"/>
  </div>
  <div class="content">
	<div class="date">4 days ago</div>
	<div class="summary">
	  <a>Son Nguyen</a> posted the article
	</div>
	<div class="ui items">
	  <div class="ui item">
		<div class="ui image">
		  <a routerLink="/posts/{{ post.id }}"><img class="image small ui" src="https://semantic-ui.com/images/wireframe/image.png"></a>
		</div>
		<div class="content">
		  <div class="header"><a [routerLink]="['/posts/', post.id]">{{ post.title }}</a></div>
		  <div class="description">
			{{ post.description }}
		  </div>
		  <div class="extra">
			<a href="#" class="ui label">IMAX</a>
			<a href="#" class="ui label"><i class="globe icon"></i> Additional Languages</a>
		  </div>
		</div>
		<a class="right floated post-meta">
		  <span class="comment">
			1 <i class="comment icon"></i>
		  </span>
		  <span class="bookmark">
			1 <i class="bookmark icon"></i>
		  </span>
		</a>
	  </div>
	</div>
