<a href="#" class="ui avater image">
  <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg"/>
</a>
<div class="content">
  <a class="header" href="#">This is title</a>
  <div class="meta">
	<span class="date">2 days ago</span>
  </div>
  <div class="description">
	<p>
	Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
	tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
	vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
	no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</p>
  </div>
  <div class="extra">
	<div class="ui label">Nodejs</div>
	<div class="ui label">Javascript</div>
  </div>
</div>
